<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Szczegóły książki</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/book-details.css}"/>
</head>
<body>
<h2 th:text="${book.title}"/>
<p th:text="'Autor: ' + ${book.author}"/>
<p th:text="'Opis: ' + ${book.description}"/>
<br>
<h3>Opinie</h3>
<table>
    <tr>
        <th>Użytkownik</th>
        <th>Ocena</th>
        <th>Opis</th>
    </tr>
    <tr th:each="opinion : ${opinions}">
        <td th:text="${opinion.author.fullName}">Użytkownik</td>
        <td th:text="${opinion.rating}">Ocena</td>
        <td th:text="${opinion.description}">Opis</td>
    </tr>
</table>
<h3>Dodaj Opinię</h3>
<form action="#" method="post" th:action="@{/book/{id}(id = ${book.id})}" th:object="${opinion}">
    <p>Opinia: <select id="rating" name="rating">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
        <option>10</option>
    </select>
    </p>
    <p>Komentarz: <textarea cols="33" id="description" name="description" rows="5">
</textarea></p>
    <p><input type="submit" value="Dodaj"/> <input type="reset" value="Reset"/></p>
</form>
<div th:if="${isSendSuccess}">
    <p>Udało Ci się dodać opinię!</p>
</div>
<a th:href="@{/}">Wroć do strony głównej</a>
</body>
</html>