<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Witaj na Bookcrossingu AKAI</h1>
<h2>Aby przejśc dalej zaloguj się przy użyciu konta AKAI</h2>
<div><a th:href="@{/oauth2/authorization/google}">Login with Google</a></div>
</body>
</html>